{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">URL</label>
            <input type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="url">
            <small id="emailHelp" class="form-text text-muted">Put the URL that you want to shorten here</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}