{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">URL</label>
            <input type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="url">
            <small id="emailHelp" class="form-text text-muted">Put the URL that you want to shorten here</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <h2>URLs Created</h2>
    <ul id="urls"></ul>
    {% if not session["user_id"] %}
        <script>
            var urls = localStorage.getItem("urls");
            if (urls != null) {
                urls = urls.split(",")
                for (let i = 0; i < urls.length - 1; i++) {
                    var oldUrl = urls[i].split("-")[0];
                    var newUrl = urls[i].split("-")[1];

                    var node = document.createElement("LI");
                    var textnode = document.createTextNode(`${oldUrl} - ${newUrl}`);
                    node.appendChild(textnode);
                    document.getElementById("urls").appendChild(node);
                }
            }
        </script>
    {% endif %}
{% endblock %}