{% extends "layout.html" %}

{% block title %}
    Success
{% endblock %}

{% block main %}
    <div class="alert alert-success" role="alert">
        Great! Now you can visit at {{ BASE_URL }}{{ auto_code }}
    </div>
    {% if not session["user_id"] %}
        <script>
            var oldUrl = "{{ old }}";
            var newUrl = "{{ BASE_URL }}{{ auto_code }}"

            if (localStorage.getItem("urls-count") == null) {
                localStorage.setItem("urls-count", 1);
            } else {
                localStorage.setItem(`urls-count`, parseInt(localStorage.getItem("urls-count")) + 1)
            }

            localStorage.setItem(`url-${localStorage.getItem("urls-count")}-old`, oldUrl);
            localStorage.setItem(`url-${localStorage.getItem("urls-count")}-new`, newUrl);
        </script>
    {% endif %}

{% endblock %}